<ion-side-menus>
    <ion-side-menu-content>

            <!--header-bar-->
            <ion-header-bar class="bar">
                <button class="button button-icon icon ion-ios-arrow-left calm" ng-click="goBack()"></button>
                <h1 class="title calm">GreedyQ</h1>
                <button class="button button-icon icon ion-search calm" ng-click="jump('commen.main')"></button>
            </ion-header-bar>

            <div ui-view="" class="my-ui-view"></div>

            <!--footer-bar--利用ion-tabs做-->
        <ion-tabs class="tabs-icon-top">
            <ion-tab icon="ion-home" class="calm"
                     ng-click="jump('commen.newmain')"
                     title="主页"></ion-tab>
            <ion-tab icon="ion-person" class="calm"
                     ng-click="jump('commen.myorder')"
                     title="个人中心"></ion-tab>
            <ion-tab icon="ion-bag" class="calm"
                     badge-style="badge-assertive"
                     badge="cartNum.cartTotalNum"
                     ng-click="jump('commen.cart')"
                     title="购物车"></ion-tab>
            <ion-tab icon="ion-ios-gear" title="设置" class="calm" ng-click="menu()"></ion-tab>
        </ion-tabs>

    </ion-side-menu-content>

    <ion-side-menu side="left" width="200">
        <ul class="list">
            <li class="item">
                <button class="button button-calm button-block" ng-click="jump('login')">登录</button>
            </li>
            <li class="item">
                <button class="button button-calm button-block" ng-click="exitModal()">退出登录</button>
            </li>
            <li class="item">
                <button class="button button-calm button-block" ng-click="quit()">退出App</button>
            </li>
            <li class="item">
                <button class="button button-calm button-block" ng-click="personInfo()">个人信息设置</button>
            </li>
            <li class="item">
                <button class="button button-calm button-block" ng-click="aboutUsModal()">关于我们</button>
            </li>
        </ul>
    <ion-side-menu>
</ion-side-menus>